@tailwind base;
@tailwind components;
@tailwind utilities;

.footer {
  background-color: #050505;
  /* Deep black background */
  border-top: 1px solid #1a1a1a;
  padding: 4.5rem 1.5rem;
  color: #888;
  font-family: 'Inter', sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

/* LEFT SECTION */
.footer-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-name {
  color: #d7d3d3;
  font-size: 1.3rem;
  font-weight: normal;
  margin: 0;
  line-height: 1.6;
}

.footer-role {
  font-size: 0.87rem;
  margin: 0;
  color: #9b9a9a;
}

/* CENTER SECTION - SOCIALS */
.footer-center {
  display: flex;
  gap: 1rem;
}

.social-link {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #1a1a1a;
  /* Dark circle */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bfbebe;
  font-size: 1.2rem;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}

.social-link:hover {
  background-color: #1a1a1a;
  color: #fff;
  transform: translateY(-2px);
  border-color: #1a1a1a;
}

/* RIGHT SECTION - COPYRIGHT */
.footer-right {
  text-align: right;
  font-size: 1rem;
}

.copyright {
  margin: 0;
  color: #9c9c9c;
}

.crafted-with {
  margin: 4px 0 0 0;
  font-size: 0.85rem;
  color: #7e7e7e;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}

.heart {
  color: #ff4d6d;
  display: inline-block;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  .footer-left {
    flex-direction: column;
  }

  .footer-right {
    text-align: center;
  }

  .crafted-with {
    justify-content: center;
  }
}